<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="testConfig.repositoryList" type="NasGit.IO.GitConfigurationSection,NasGit" requirePermission="false" />
  </configSections>
  <testConfig.repositoryList>
    <repositoryConfig
      name="NAS Git"
      localPath="C:/Users/Sander/Documents/GitHub/nas-git/"
    />
    <repositoryConfig
      name="NAS Git2"
      localPath="C:/Users/Sander/Documents/GitHub/nas-git/"
      userName="SaWey"
    />
  </testConfig.repositoryList>
</configuration>