<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="testConfig.repositoryList" type="NasGit.IO.GitConfigurationSection,NasGit" requirePermission="false" />
  </configSections>
  <testConfig.repositoryList>
    <repositoryConfig
      name="name1"
      localPath="localPath1"
    />
    <repositoryConfig
      name="name2"
      localPath="localPath2"
      remoteURL="remoteURL2"
      userName="Nan"
      password="111"
    />
  </testConfig.repositoryList>
</configuration>